<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- 합쳐지고 최소화된 최신 CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> <!-- 33 KB -->

    <!-- fotorama.css & fotorama.js. -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.css" rel="stylesheet"> <!-- 3 KB -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.js"></script> <!-- 16 KB -->

    <title>MJ Introduction</title>
</head>

<body style="margin:22px; border: 4px solid rgb(17, 16, 16); padding: 5px">
    <br>
    <p class="text-center">
        <b> - LEE MYUNG JAE -</b>
        <br>
        <small>
            <u>Since 1995.04.13</u>
        </small>

    </p>
    <hr style="  border-top: 2px solid #5b0b0b;
    width: 600px;">


    <div style="text-align:center">
        <img src="http://drive.google.com/uc?export=view&id=11Ucy78uEle2mvq48masRZPwv8zCALGuO" width="1000"
            height="50%">
    </div>
    <br>
    <br>
    <p class="lead" style="text-align:center">
        <b> 오늘도 베짱이가 되지 않도록 노력하자. 아 근데 오늘까지만 딱 놀고. </b>
    </p>
    <br>

    <hr style="border-top: 2px solid #00000073;
    width: 1100px;">

    <div class="profile" style="height:350px">
        <img src="http://drive.google.com/uc?export=view&id=1KUY9enLBQ7kk71GZtj2vgsJfprzkWpP4" class="img-rounded"
            width="300" style="position:relative; top:-73px; left: 56px;">

        <ul class="list-unstyled"
            style="display:inline-block; font-size:24px; position: relative; top: 42px;left: 73px;">
            <li>이름 : 이명재</li>
            <li>나이 : 25살</li>
            <li>생년월일 : 1995.04.13</li>
            <li>학과 : 경영정보학과</li>
            <li>취미 : 야구, 영화보기, 사진찍기 </li>
            <li>소속 : 경영정보학과학회, <b style="color:orange">Like</b> <b>Lion♥</b></li>
            <li>하고싶은 말 : 방학까지 아직 1달 넘게 남았네. 이거 실화?
                <br>게임하고 싶은데 할게 너무 많아. 언제 놀아?
            </li>
        </ul>
    </div>

    <br><br>
    <hr style="border-top: 2px solid #00000073;
        width: 1100px;">
    <br><br>
    <div class="bottom">
        <div style="display: inline-block;
    position: relative;
    left: 57px; ">
            No Copyright, I like pizza , I'm hungry <br>
            Have a Good day :) <br>
            I'm Like Lion Member of Sahmyook University
        </div>
        <dl class="dl-horizontal" style="position: relative;
    left: 825px; ">
            <dt>Instagram</dt>
            <dd>myungjae0413</dd>
            <dt>Phone Number</dt>
            <dd>010-9112-8765</dd>
            <dt>E-mail</dt>
            <dd>akawolf13@gmail.com</dd>
        </dl>
    </div>

    <hr style="border-top: 2px solid #00000073;
            width: 1100px; height: 0px;">

    <div style="position:relative;
    text-align: right;
    right: 45px; bottom: 6px;">
        <a href="https://www.instagram.com/myeongjae0413/?hl=ko" target="_blank">
            <img src="https://page.yokohama/wp/wp-content/uploads/2014/10/Instagram.gif" width="75">
        </a>
        <a href="http://sahmyook.likelion.org/posts" target="_blank">
            <img src="http://sahmyook.likelion.org/assets/logo1" alt="" width="75">
        </a>
    </div>
</body>

</html>